---
import { cn } from "@/lib/utils"

const { class: className, ...props } = Astro.props
---

<div class="my-6 w-full overflow-y-auto rounded-lg">
  <table class={cn("w-full overflow-hidden rounded-lg", className)} {...props}>
    <slot />
  </table>
</div>
