@import "@ui/tailwind/global.css";

@source "../../node_modules/@ui/react/dist";

@theme inline {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-code: var(--code);
  --color-code-foreground: var(--code-foreground);
  --color-code-highlight: var(--code-highlight);
}

:root {
  --surface: oklch(0.98 0 0);
  --surface-foreground: var(--foreground);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(0.96 0 0);
}

.dark {
  --surface: oklch(0.2 0 0);
  --surface-foreground: oklch(0.708 0 0);
  --code: var(--surface);
  --code-foreground: var(--surface-foreground);
  --code-highlight: oklch(0.27 0 0);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }

  .code-wrapper {
    @apply mt-4;
  }
  .code-wrapper .shiki {
    @apply text-sm py-4 leading-normal rounded overflow-auto font-mono bg-code!;
  }
  .code-wrapper .shiki code {
    @apply flex flex-col;
  }
  .code-wrapper .shiki .line {
    @apply w-full px-4 inline-block min-h-4;
  }
  .code-wrapper .shiki .line.highlighted {
    @apply bg-code-highlight;
  }

  html.dark .code-wrapper .shiki {
    @apply bg-code!;
  }
  html.dark .code-wrapper .shiki span {
    @apply text-[var(--shiki-dark)]!;
  }
}

@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility step {
  counter-increment: step;
  @apply relative;

  &:before {
    @apply text-muted-foreground right-0 mr-2 hidden size-7 items-center justify-center rounded-full text-center -indent-px font-mono text-sm font-medium md:absolute;
    content: counter(step);
  }
}

@layer components {
  .steps {
    &:first-child {
      @apply !mt-0;
    }

    &:first-child > h3:first-child {
      @apply !mt-0;
    }

    > h3 {
      @apply !mt-16;
    }

    > h3 + p {
      @apply !mt-2;
    }
  }
}
