@import "@ui/tailwind/global.css";

@source "../../node_modules/@ui/react/dist/components";

@theme inline {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;
  --color-code: var(--code);
}

:root {
  --code: oklch(0.98 0 0);
}

.dark {
  --code: oklch(0.2 0 0);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }

  .code-wrapper .shiki {
    @apply px-4 text-sm leading-normal bg-code! overflow-auto;
  }
  .remark-code-wrapper {
    @apply mt-4;
  }

  html.dark .code-wrapper .shiki,
  html.dark .code-wrapper .shiki span {
    @apply bg-code! text-[var(--shiki-dark)]!;
  }
}

@utility container {
  @apply 3xl:max-w-screen-2xl mx-auto max-w-[1400px] px-4 lg:px-8;
}

@utility step {
  counter-increment: step;
  @apply relative;

  &:before {
    @apply text-muted-foreground right-0 mr-2 hidden size-7 items-center justify-center rounded-full text-center -indent-px font-mono text-sm font-medium md:absolute;
    content: counter(step);
  }
}

@layer components {
  .steps {
    &:first-child {
      @apply !mt-0;
    }

    &:first-child > h3:first-child {
      @apply !mt-0;
    }

    > h3 {
      @apply !mt-16;
    }

    > h3 + p {
      @apply !mt-2;
    }
  }
}
