---
import Code from "@/components/code.astro"
import { getExampleSource } from "@/lib/source"
import { cn } from "@/lib/utils"
import PreviewReact from "./preview"
import Tabs from "./tabs"

export interface Props {
  name: string
  className?: string
}
const { name, className } = Astro.props

const { source, lang } = (await getExampleSource("react", name)) || {}
---

<div
  class={cn(
    "relative my-4 flex flex-col space-y-2 lg:max-w-[120ch]",
    className
  )}
>
  <Tabs client:visible>
    <Fragment slot="preview">
      <div
        class="relative flex h-[450px] w-full flex-col items-center justify-center rounded border"
      >
        <PreviewReact client:visible name={name} />
      </div>
    </Fragment>
    <Fragment slot="code">
      {
        source ? (
          <Code
            className="mt-0 h-[450px] overflow-y-auto"
            lang={lang}
            src={source}
          />
        ) : (
          <Code src={"Not Found"} />
        )
      }
    </Fragment>
  </Tabs>
</div>
