---
interface Props {
  component: string
  [key: string]: unknown
}

const { component, ...props } = Astro.props
---

<p class="text-sm text-muted-foreground" {...props}>
  Component
  <code class="rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm"
    >{component}</code
  >
  not found in registry.
</p>
