---
import NotFound from "./not-found.astro"

interface Props {
  component: string
  source?: unknown
  [key: string]: unknown
}

const { source, component, ...props } = Astro.props
---

<div
  class="relative flex min-h-[350px] max-w-screen flex-col items-center justify-center rounded-xl border"
  {...props}
>
  {source ? <slot /> : <NotFound component={component} />}
</div>
