---
import { Code } from "astro/components"
import type { HTMLAttributes } from "astro/types"

import { CopyButton } from "@/components/copy-button"
import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  lang?: "tsx" | "vue" | "ts" | "json"
  className?: string
  src: string
}

const { src, lang, className, ...props } = Astro.props
---

<div class={cn("code-wrapper relative", className)} {...props}>
  {
    lang && src ? (
      <Code lang={lang} wrap={false} theme="vesper" code={src} />
    ) : null
  }
  <CopyButton client:visible className="absolute top-4 right-4" value={src} />
</div>
