---
import { $framework, type UiLibrary } from "@/store/atoms/framework";
import Preview from "./component-preview/preview";

export interface Props {
  uiLibrary: UiLibrary;
  example: string;
}

const { uiLibrary, example } = Astro.props;
---

<div
  class="relative flex min-h-[350px] max-w-screen flex-col items-center justify-center rounded-xl border"
  data-ui-library={uiLibrary}
  hidden={$framework.value !== uiLibrary}
>
  <Preview client:visible name={example} />
</div>
