---
import { cn } from "@/lib/utils"

const { class: className, ...props } = Astro.props
---

<h3
  class={cn(
    "font-heading mt-8 mb-4 text-base scroll-m-20 font-semibold tracking-tight",
    className
  )}
  {...props}
>
  <slot />
</h3>
