---
import Layout from "@/layouts/layout.astro"
---

<Layout>
  <div class="container">
    <h1>Welcome to Shipbase UI</h1>
    <p>
      Shipbase UI is a collection of UI components and utilities for building
      applications with Tailwind CSS.
    </p>
  </div>
</Layout>
