---
import { ViewTransitions } from "astro:transitions"

import SiteFooter from "@/components/side-footer.astro"
import SiteHeader from "@/components/site-header.astro"
import TailwindIndicator from "@/components/tailwind-indicator.astro"

import "@/styles/global.css"
import "@fontsource-variable/inter"
---

<!doctype html>
<html lang="en">
  <head>
    <title>shipbase/ui</title>

    <!-- <meta name="description" content={description} /> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="ShipbaseUI,Tailwind,CSS,Ark UI,Components,Library,React,Solid,Vue"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="sitemap" href="/sitemap.xml" />

    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <SiteHeader />
    <main class="flex-1 border-b">
      <slot />
    </main>
    <SiteFooter />
    <TailwindIndicator />
  </body>
</html>
