---
import { ViewTransitions } from "astro:transitions"

import SiteFooter from "@/components/side-footer.astro"
import SiteHeader from "@/components/site-header.astro"

import '@fontsource-variable/inter';
import "@/styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Shipbase UI</title>
    <!-- <meta name="description" content={description} /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="ShipbaseUI,Tailwind,CSS,Ark UI,Components,Library,React,Solid,Vue"
    />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap.xml" />

    <!-- Icons -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32" />
    <link
      rel="apple-touch-icon"
      href="/apple-icon.png"
      type="image/png"
      sizes="180x180"
    />
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <SiteHeader />
    <main class="flex-1">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
