---
import { transformerMetaHighlight } from "@shikijs/transformers";
import { codeToHtml } from "shiki";

import { cn } from "@/lib/utils";
import { CopyButton } from "./copy-button.tsx";

interface Props {
  src: string;
  lang?: string;
  className?: string;
  copy?: boolean;
}

const { src, lang = "tsx", copy = true, className } = Astro.props;

const html = await codeToHtml(src, {
  lang,
  themes: {
    dark: "github-dark",
    light: "github-light",
  },
  transformers: [transformerMetaHighlight()],
});
---

<div
  class={cn("code-wrapper relative [&_pre]:py-4 bg-code rounded", className)}
>
  {
    copy && (
      <CopyButton
        client:visible
        value={src}
        className="absolute top-2 right-2 z-10"
      />
    )
  }
  <Fragment set:html={html} />
</div>
