---
import { Icons } from "@/components/icons"
import ThemeToggle from "@/components/theme-toggle.astro"
import { Button } from "@/components/ui/button"
import { siteConfig } from "@/config/site"

import MainNav from "./main-nav.astro"
import MobileNav from "./mobile-nav/index.astro"
---

<header
  class="sticky top-0 z-50 w-full border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex h-14 max-w-screen-2xl items-center">
    <MainNav />
    <MobileNav />
    <div
      class="flex flex-1 items-center justify-between space-x-2 md:justify-end"
    >
      <div class="w-full flex-1 md:w-auto md:flex-none">
        <!-- <CommandMenu /> -->
      </div>
      <nav class="flex items-center">
        <a href={siteConfig.links.github} target="_blank" rel="noreferrer">
          <Button variant="ghost" className="size-8 p-0">
            <Icons.gitHub className="h-4 w-4" />
            <span class="sr-only">GitHub</span>
          </Button>
        </a>
        <a href={siteConfig.links.twitter} target="_blank" rel="noreferrer">
          <Button variant="ghost" className="size-8 p-0">
            <Icons.twitter className="h-3 w-3 fill-current" />
            <span class="sr-only">Twitter</span>
          </Button>
        </a>
        <ThemeToggle />
      </nav>
    </div>
  </div>
</header>
